

// flex 垂直水平居中
%flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin scw($size, $color: #333, $weight: 400) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}




